@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
h1{
    text-align: center;
    font-size:30px;
    color: white;
}
body{
    width:100%;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 27, 162);
}
input{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 34px;
    text-align: center;
    padding: 17px;
    outline:none;
    border-radius: 25%;


}
.text1{
    width:22px;
    height:24px;
    border-radius: 50%;

}
.text{
    width:130px;
    height:26;
    border-radius: 22px;
    margin-bottom: 12px;
    background-color: white;
    text-align: center;
}
.num{
    width:50px;
    height:67px;
    padding: 10px;
    margin:2px;
    border-radius: 7px;
    background-color: white;

    
}
.blue{
    background-color:rgb(20, 20, 244);
    color:white
}
.gre{
    background-color: rgb(18, 242, 18);
    color:white;
}
.pi{
    background-color:red;
    color:white;
}
.ora{
background-color: rgb(240, 162, 19);
color:white;

}
.link{
    font-family:Arial, Helvetica, sans-serif;
    font-size:20pt;

}
.link a{
    color:white;
    text-decoration:none;
}

